

/*Estilos de la sección "Sobre mí"*/

.about-me {
    max-width: 1600px;
    min-width: 1300px;
    height: 740px;
    padding: 95px 120px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 221, 0, 0.50) 38.630290031433105deg, rgba(0, 255, 174, 0.50) 141.57681941986084deg, rgba(0, 149, 255, 0.50) 269.31560754776deg);
    box-sizing: border-box;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    h2 {
        width: 220px;
        height: 86px;
        color: rgba(0, 0, 0, 0.83);
        text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.about-contain {
    display: grid;
    grid-template-columns:  797px 252px;
    grid-template-rows: 190px 190px;
    grid-template-areas: 
        'first-about web-image'
        'second-about animation-image';
    column-gap: 125px;
    row-gap: 75px;
    align-items: center;
    justify-content: center;
}

.first-about {
    grid-area: first-about;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Cormorand-italic";
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.web-image {
    grid-area: web-image;
    width: 221.216px;
    height: 257.081px;
    transform: rotate(8.15deg);
}

.second-about {
    grid-area: second-about;
    color: #000;
    font-family: "Cormorand-italic";
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.animation-image {
    width: 200px;
    height: 195px;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


/*Creamos los estilos de la sección del proyecto*/

.projects {
    max-width: 1600px;
    min-width: 1300px;
    height: 750px;
    padding: 95px 120px;
    background: conic-gradient(from 90deg at 50% 50%, #FD0 38.630279302597046deg, #00FFAE 141.57681941986084deg, #0095FF 269.31560754776deg);
    box-sizing: border-box ;
}

.project-container {
    width: 1000px;
    height: 557.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 50px;

    h2 {
        width: 100%;
        height: 86px;
        color: rgba(0, 0, 0, 0.83);
        text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.project-contain {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 143px 121px;
    grid-template-areas: 
    "p1 html-css"
    "button-ex p2";
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 25px;
    column-gap: 50px;
    row-gap: 60px;
    box-sizing: border-box;


    p {
        color: #000;
        text-align: center;
        font-family: "Cormorand Garamond";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.project-text1 {
    grid-area: p1;
    width: 100%;
    height: 93px;

}

.html-css{
    display: flex;
    grid-area: html-css;
    width: 327px;
    height: 186px;
    border-radius: 50px;
    align-self: center;
    justify-self: center;

}

.button-ex {
    grid-area: button-ex;
}

.project-text2 {
    grid-area: p2;
    width: 100%;
}

.git-link {
    display:flex;
    align-self: center;
    align-items: center;
    gap: 10px;

    .description-link{
        color: #000;
        text-align: center;
        font-family: "Cormorand Garamond";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    a {
        background-color: #000;
        border-radius: 55%;
    }
}

.github-logo {
    width: 58px;
    height: 57.5px;
    flex-shrink: 0;
}


/*Estilos de la sección "Habilidades"*/

.hability {
    max-width:1600px;
    min-width: 1300px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 221, 0, 0.50) 38.630290031433105deg, rgba(0, 255, 174, 0.50) 141.57681941986084deg, rgba(0, 149, 255, 0.50) 269.31560754776deg);
    padding: 95px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.hability-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;


    h2 {
        color: rgba(0, 0, 0, 0.83);
        text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

